*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*
  @include responsiveFor(phone) {
    font-size: 50%;
  }
  */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  font-family: "Carme", "Paytone One", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

ul {
  list-style: none; }

a:visited, a:link {
  color: inherit;
  text-decoration: none; }

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none; }

footer {
  height: 5rem;
  background: #4897d8; }

main {
  display: flex;
  flex-direction: column;
  flex: 1; }

#app-title {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#favourite-link {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.field-invalid {
  box-shadow: 0 0 3px 1px #fa3333; }

.alert {
  background-color: #ffcdb6;
  border: 1px solid #ff9d4c; }

.textarea-comment {
  display: none; }
  .textarea-comment-active {
    display: unset;
    position: absolute;
    transform: translateX(-50%); }

.flex {
  display: flex; }

.container {
  display: flex;
  flex-direction: row;
  flex: 1; }

@keyframes load-drinks {
  100% {
    transform: translateX(0); } }

@keyframes shake {
  0% {
    transform: rotate(0) translateY(-50%); }
  25% {
    transform: rotate(-6deg) translateY(-50%); }
  50% {
    transform: rotate(6deg) translateY(-50%); }
  75% {
    transform: rotate(-7deg) translateY(-50%); }
  100% {
    transform: rotate(0deg) translateY(-50%); } }

.header {
  min-height: 7rem;
  background-color: #4897d8;
  color: #f8a055;
  display: flex;
  justify-content: space-around; }

.side-cmd {
  background: #f8a055;
  flex: 1;
  min-width: 23rem; }
  .side-cmd-list-item {
    position: relative;
    padding: 2rem 2rem; }
    .side-cmd-list-item::before {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      background: #4897d8;
      left: 0;
      top: 0;
      transform: scaleY(0);
      transition: transform 0.2s ease-in, width 0.3s ease-out 0.25s;
      z-index: 0; }
    .side-cmd-list-item:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .side-cmd-list-item:hover .side-cmd-list-icon {
      color: white;
      animation: shake 0.5s ease-out; }
  .side-cmd-list-icon {
    font-size: 2.5rem;
    line-height: 0.6;
    position: absolute;
    right: 0.2rem;
    transform: translateY(-50%); }
  .side-cmd-link {
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;
    display: block;
    width: 80%; }

/*

 <nav clas="side-cmd-nav">
            <ul class="side-cmd-list">
              <li class="side-cmd-list-item">
                <a href="index.html" class="side-cmd-link"> NAME </a>
                <i class="fas fa-wine-bottle side-cmd-list-icon"></i>

*/
.popup {
  display: none; }
  .popup-active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    z-index: 2; }
  .popup-content {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 4rem;
    text-align: center;
    max-width: 60vw;
    transform: translateX(-20%); }
  .popup-img {
    max-height: 30vh; }

.side-results {
  flex: 5; }

.button-saved {
  color: #fa6e59; }

#submit-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none; }

.api-res-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.api-res-drink-element {
  position: relative;
  width: 27rem;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  transform: translateX(100vw);
  animation: load-drinks 0.3s ease-out forwards; }

.api-res-drink-content {
  text-align: center;
  color: #666666;
  position: relative; }

.api-res-figure {
  position: relative;
  display: inline-block; }

.api-res-img {
  position: relative;
  width: 100%;
  height: auto;
  display: block; }

select#drinks-input {
  padding: 1rem; }

.select-box {
  position: relative;
  transition: all 0.2s;
  box-shadow: 0 2px 1rem -2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3); }
  .select-box::after {
    pointer-events: none;
    content: "";
    height: calc(4rem + 1px);
    width: 3.1rem;
    position: absolute;
    background: #ffdb5c;
    z-index: 2;
    top: -1px;
    right: 0;
    transform: translateY(1px);
    border-radius: 2px;
    transition: all 0.2s; }
  .select-box:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #f8a055; }
    .select-box:hover::after {
      background: #4897d8; }
    .select-box:hover .select-box-icon {
      text-shadow: 1px 2px 0 rgba(72, 151, 216, 0.5);
      color: #fa6e59; }
  .select-box-icon {
    position: absolute;
    right: 0.1rem;
    z-index: 3;
    top: -2px;
    padding: 2px;
    pointer-events: none;
    color: #4897d8;
    transform: scale(0.8);
    text-shadow: 0px 0px 0 rgba(72, 151, 216, 0.5);
    transition: all 0.2s; }
    .select-box-icon::before {
      font-size: 3rem;
      line-height: 4rem;
      background: white;
      padding: 1rem;
      border-radius: 50%;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1); }

select,
select:focus {
  font: unset;
  font-weight: bold;
  width: 100%;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
  border: none;
  outline: none;
  background: inherit; }
  select:hover,
  select:focus:hover {
    color: currentColor; }

option {
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3); }

.form-drinks {
  margin-top: 5rem; }
  .form-drinks-input-text {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    outline: none;
    padding: 1rem;
    color: green; }
    .form-drinks-input-text::-webkit-input-placeholder {
      color: transparent; }
    .form-drinks-input-text:placeholder-shown ~ .form-label-name {
      color: blue;
      transform: translateY(0); }

.form-container {
  min-height: 20rem; }

.form-group {
  margin: 2rem 0; }

.form-box-input {
  position: relative; }
  .form-box-input::after {
    pointer-events: none;
    content: "";
    height: 4rem;
    width: 3.5rem;
    position: absolute;
    background: #4897d8;
    z-index: 2;
    top: -1px;
    right: 0;
    transform: translateY(1px);
    border-radius: 2px;
    transition: all 0.2s; }

.form-label-name {
  font-weight: bold;
  color: #4897d8;
  position: absolute;
  font-size: 1.5rem;
  left: 1rem;
  top: 1rem;
  transform: translateY(-3rem);
  transition: all 0.2s; }

.select-box-icon-selected {
  text-shadow: 1px 2px 0 rgba(72, 151, 216, 0.5);
  color: #fa6e59; }
