.header {
  min-height: 7rem;
  background-color: $whitesmoke;
  color: $blue;
  display: flex;
  justify-content: space-between;
  &-description {
    font-weight: bold;
    padding: 1rem 4rem;
  }
}
