.side-cmd {
  background: $whitesmoke;
  flex: 1;
  min-width: 23rem;
  font-weight: bold;
  &-nav {
    background: inherit;
    transition: all 0.2s ease-in;
    @include responsive(tab-portrait) {
      height: 0;
      overflow: hidden;
      &-active {
        height: 17rem !important;
      }
    }
  }

  &-list {
    &-item {
      position: relative;
      padding: 2rem 2rem;
      &::before {
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        background: $blue;
        left: 0;
        top: 0;
        transform: scaleY(0);
        transition: transform 0.2s ease-in, width 0.3s ease-out 0.25s;
        z-index: 0;
      }
      &:hover {
        &::before {
          transform: scaleY(1);
          width: 100%;
        }
        & .side-cmd-list-icon {
          color: $orange;
          transform: translateY(-50%);
          text-shadow: 1px 1px 0 $white;
          animation: shake 0.5s ease-out;
        }
      }
    }
    &-icon {
      font-size: 2.5rem;
      line-height: 0.6;
      position: absolute;
      right: 0.2rem;
      transform: translateY(-50%);
      transition: all 0.2s ease-out;
      text-shadow: 1px 1px 0 $orange;
    }
  }
  &-link {
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;
    display: block;
    width: 100%;
    padding: 1rem 0;
    transition: all 0.3s ease-in;
    &:hover {
      color: $white;
    }
  }
  @include responsive(tab-portrait) {
    // height: 19rem;
    display: inline-table;
  }
}

/*

 <nav clas="side-cmd-nav">
            <ul class="side-cmd-list">
              <li class="side-cmd-list-item">
                <a href="index.html" class="side-cmd-link"> NAME </a>
                <i class="fas fa-wine-bottle side-cmd-list-icon"></i>

*/
