.api-res {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &-drink {
    &-element {
      position: relative;
      width: $card-width;
      box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
      margin-bottom: 3rem;
      transform: translateX(100vw);
      background: $whitesmoke;
      animation: load-drinks 0.3s ease-out forwards;
      //content positioning
      display: flex;
    }
    &-content {
      text-align: center;
      color: rgb(102, 102, 102);
      position: relative;
      border-radius: 3px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      //content positioning
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &-name {
    font-family: "Paytone One", "Carme", sans-serif;
    color: $orange;
    padding: 1rem;
  }
  &-figure {
    position: relative;
    display: inline-block;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    overflow: hidden;
  }
  &-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
  }
  &-instructions-title {
  }
  &-instructions-text {
    padding: 1rem 4rem;
    font-size: 1.4rem;
  }
  &-list-title {
    padding: 1rem;
  }
  &-list-element {
  }
  &-wrap {
    display: flex;
    justify-content: space-around;
  }
  &-extrainfo {
    color: $white;
    display: inline-block;
    font-weight: bold;
    flex: 1;
    padding: 1rem 0;

    &-left {
      background: $orange;
    }
    &-right {
      background: $blue;
    }
    &-comment {
      background: $whitesmoke;
      color: $text-color-dark;
    }
  }
  &-icon {
    font-size: 2rem;
    padding: 0 1rem;
    pointer-events: none;
  }
}

.textarea-comment {
  display: none;
  &-active {
    display: unset;
    position: absolute;
    font-family: "Carme", "Paytone One", sans-serif;
    font-weight: 600;
    bottom: 0;
    left: 0;
    color: $blue;
    outline: none;
    border: none;
    width: 80%;
    margin-left: 10%;
    background: $whitesmoke;
  }
  &.appear-bounce {
    animation: appear-bounce linear 0.8s forwards;
    animation-iteration-count: 1;
  }
}
