#submit-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  // view styles
  text-transform: uppercase;
  font-family: "Paytone One", "Carme", sans-serif;
  color: orange;
  padding: 1rem 2rem;
  width: 15rem;
  height: 5.5rem;
  border-radius: 3px;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  text-align: left;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  transition: all 0.3s ease-in;
  &:active {
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
    & + .submit-icon {
    }
  }
  &:hover {
    transform: translateX(23%);
    & + .submit-icon {
      transform: scale(1.2) translateX(-1.5rem) rotate(-5deg);
      color: $red;
      text-shadow: 1px 1px 0 $blue;
    }
  }
}
.submit-icon {
  font-size: 2.5rem;
  margin-left: 1rem;
  transition: color 0.3s, transform 0.2s ease-out 0.1s;
  pointer-events: none;
  backface-visibility: hidden;
  color: $blue;
  text-shadow: 1px 1px 0 $red;
  &.search-animation {
    animation: search-animation 1.5s;
  }
}
.open-modal {
  background: $blue;
  color: $white;
  @include card-btn;
}

.save-drink {
  background: $yellow;
  color: $green;
  @include card-btn;
}

.button-comment {
  &:hover {
    & .api-res-icon-comment {
      animation: write 0.8s ease-out;
    }
  }
}

.button-saved {
  color: $red !important;
}
