.button-saved {
  color: $red;
}
#submit-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.save-drink {
  padding: 1rem 2rem;
  background: $yellow;
  width: 50%;
  display: inline-block;
  transform: translateX(50%);
  margin: 1rem;
  border-radius: 2rem;
}
