.resp-menu {
  position: absolute;
  right: 0;
  top: -6rem;
  display: none;
  &-wrap {
    position: relative;
    &-active + .side-cmd-nav {
      height: unset;
    }
  }
  &-stick {
    width: 4rem;
    height: 4px;
    margin: 0.5rem 1rem;
    background: blue;
  }
  &-stick {
    background: $yellow;
    transition: all 0.4s;
    border: 1px solid rgba($orange, 0.5);
    border-radius: 2px;
  }
  &-active {
    & > .resp-menu-stick {
      &:nth-child(1) {
        background: $red;
      }
      &:nth-child(2) {
        background: $orange;
      }
      &:nth-child(3) {
        background: $yellow;
      }
    }
  }
  @include responsive(tab-portrait) {
    display: block;
  }
}
