select#drinks-input {
  padding: 1rem;
  color: transparent;
  &:focus ~ .form-label-select {
    transform: translateY(-4rem);
    color: $blue;
  }
  &:focus {
    color: inherit;
  }
}
.select-box {
  position: relative;
  transition: all 0.2s;
  box-shadow: 0 2px 1rem -2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
  &::after {
    pointer-events: none;
    content: "";
    height: calc(4rem + 1px);
    width: 2.5rem;
    position: absolute;
    background: #ffdb5c;
    z-index: 2;
    top: -1px;
    right: 0;
    transform: translateY(1px);
    border-radius: 2px;
    transition: all 0.2s;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.5);

    &::after {
      background: $blue;
    }
    & .select-box-icon {
      text-shadow: 1px 2px 0 rgba($blue, 0.5);
      color: $red;
    }
  }

  &-icon {
    position: absolute;
    right: 0.1rem;
    z-index: 3;
    top: -2px;
    padding: 2px;
    pointer-events: none;
    color: $blue;
    transform: scale(0.8);
    text-shadow: 0px 0px 0 rgba($blue, 0.5);
    transition: all 0.2s;
    &::before {
      font-size: 3rem;
      line-height: 4rem;
      background: white;
      padding: 1rem;
      border-radius: 50%;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    }
    &:hover {
    }
  }
}
select,
select:focus {
  font: unset;
  font-weight: bold;
  width: 100%;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
  border: none;
  outline: none;
  background: inherit;
  &:hover {
    color: currentColor;
  }
}
option {
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
}
