@keyframes load-drinks {
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0) translateY(-50%);
  }
  25% {
    transform: rotate(-6deg) translateY(-50%);
  }
  50% {
    transform: rotate(6deg) translateY(-50%);
  }
  75% {
    transform: rotate(-7deg) translateY(-50%);
  }
  100% {
    transform: rotate(0deg) translateY(-50%);
  }
}

@keyframes welcome-result {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes search-animation {
  60% {
    transform: scale(5) rotate(280deg);
    opacity: 0;
  }
  61% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translateX(-1.5rem);
    opacity: 1;
  }
}

@keyframes fav-slide {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-3rem) rotate(180deg);
    font-weight: 900;
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
