@keyframes load-drinks {
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0) translateY(-50%);
  }
  25% {
    transform: rotate(-6deg) translateY(-50%);
  }
  50% {
    transform: rotate(6deg) translateY(-50%);
  }
  75% {
    transform: rotate(-7deg) translateY(-50%);
  }
  100% {
    transform: rotate(0deg) translateY(-50%);
  }
}

@keyframes welcome-result {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes search-animation {
  60% {
    transform: scale(5) rotate(280deg);
    opacity: 0;
  }
  61% {
    transform: scale(0) translateX(20rem);
    opacity: 1;
  }
  80% {
    transform: scale(0.6) translateX(-1.5rem);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fav-slide {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-3rem) rotate(180deg);
    font-weight: 900;
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes appear-bounce {
  0% {
    transform: translate(0px, 0px);
    background: white;
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(-30px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes write {
  0% {
  }
  10% {
    transform: rotate(3deg) translateX(25%);
  }
  25% {
    transform: rotate(-6deg) translateX(50%);
  }
  35% {
    transform: rotate(4deg) translateX(75%);
  }
  50% {
    transform: rotate(-3deg) translateX(100%);
  }
  65% {
    transform: rotate(6deg) translateX(75%);
  }
  75% {
    transform: rotate(-7deg) translateX(45%);
  }
  85% {
    transform: rotate(5deg) translateX(20%);
  }
  100% {
  }
}
