@keyframes load-drinks {
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0) translateY(-50%);
  }
  25% {
    transform: rotate(-6deg) translateY(-50%);
  }
  50% {
    transform: rotate(6deg) translateY(-50%);
  }
  75% {
    transform: rotate(-7deg) translateY(-50%);
  }
  100% {
    transform: rotate(0deg) translateY(-50%);
  }
}
