#app-title {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#favourite-link {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
