h1#app-title {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  font-size: 4rem;
  @include responsive(tab-portrait) {
    padding-left: 1rem;
  }
}
h2#favourite-link,
.favourite-link {
  font-family: "Paytone One", "Carme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem 2rem 0rem;
  cursor: pointer;
  text-shadow: 1px 1px 0 $orange;
  transition: color 0.2s ease-out, text-shadow 0.2s 0.1s ease-in;
  text-transform: capitalize;
  &:hover {
    text-shadow: 2px 2px 0 $blue;
    color: $red;
  }
  @include responsive(tab-portrait) {
    padding: 2rem 1rem;
  }
}

.ingredient {
  font-weight: bold;
}
.quantity {
  color: $green;
}

.result-container h2 {
  color: $red;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}
.form-title {
  padding: 4rem 2rem;
  text-transform: capitalize;
  font-family: "Paytone One", "Carme", sans-serif;
  &-highlight {
    color: $orange;
    text-shadow: 1px 2px 0px $text-color-dark;
  }
  @include responsive(tab-portrait) {
    padding: 0;
  }
}
#clear-favourites {
  color: $red;
  padding: 2rem 0;
  background: $orange2;
  border: 1px solid rgba($red, 0.5);
  display: block;
  cursor: pointer;
  position: relative;
  &:hover {
    &::before {
      width: 80%;
    }
    & > i {
      transition: transform 0.5s ease-out;
      transform-origin: bottom;
      transform: rotate(-30deg) translate(2rem, 1rem);
    }
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: inherit;
    transition: width 0.3s ease-in;
    @include responsive(tab-portrait) {
      background: transparent;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
  @include responsive(tab-portrait) {
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    padding: 1rem;
  }
}
